name: Build, Push WAS to NHN Cloud NCR, and Deploy with ArgoCD

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Login to NHN Cloud NCR
      run: |
        echo "${{ secrets.NHN_NCR_PASSWORD }}" | docker login -u "${{ secrets.NHN_NCR_USERNAME }}" --password-stdin 4e06a9e9-kr1-registry.container.nhncloud.com

    - name: Generate Image Tag
      id: image-tag
      run: |
        TIMESTAMP=$(date +%Y%m%d%H%M%S)
        SHORT_SHA=$(echo "${GITHUB_SHA}" | cut -c1-7)
        IMAGE_TAG="${TIMESTAMP}-${SHORT_SHA}"
        IMAGE_URI=4e06a9e9-kr1-registry.container.nhncloud.com/ncr-for-web/was:${IMAGE_TAG}
        echo "IMAGE_TAG=${IMAGE_TAG}" >> $GITHUB_ENV
        echo "IMAGE_URI=$IMAGE_URI" >> $GITHUB_ENV

    - name: Build and Push Docker Image
      run: |
        docker build -f Dockerfile -t ${{ env.IMAGE_URI }} .
        docker push ${{ env.IMAGE_URI }}

    - name: Setup Kustomize
      uses: imranismail/setup-kustomize@v1

    - name: Checkout kustomize repository
      uses: actions/checkout@v2
      with:
        repository: netsoul-test/k8s-manifests
        ref: main
        token: ${{ secrets.ACTION_TOKEN }}
        path: k8s-manifests

    - name: Setup Git identity
      run: |
        git config user.name "GitHub Actions"
        git config user.email "actions@github.com"
      working-directory: ${{ github.workspace }}/k8s-manifests

    - name: Update kustomization.yaml with new image tag
      run: |
        cd ${{ github.workspace }}/k8s-manifests/base/was
        kustomize edit set image 4e06a9e9-kr1-registry.container.nhncloud.com/ncr-for-web/was:${{ env.IMAGE_TAG }}
        cat kustomization.yaml # For debugging purposes

    - name: Commit and push the updated kustomization.yaml
      working-directory: ${{ github.workspace }}/k8s-manifests/base/was
      run: |
        git config user.name "GitHub Actions"
        git config user.email "actions@github.com"
        git add kustomization.yaml
        git commit -m "Update image tag to ${{ env.IMAGE_TAG }}"
        git push

    - name: Install ArgoCD CLI
      run: |
        curl -sSL -o argocd-linux-amd64 https://github.com/argoproj/argo-cd/releases/latest/download/argocd-linux-amd64
        chmod +x argocd-linux-amd64
        mv argocd-linux-amd64 /usr/local/bin/argocd

    - name: ArgoCD Login
      run: |
        argocd login ${{ secrets.ARGOCD_SERVER }} --username ${{ secrets.ARGOCD_USERNAME }} --password ${{ secrets.ARGOCD_PASSWORD }} --insecure

    - name: Sync Application with ArgoCD
      run: |
        argocd app sync was-cicd --prune

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.NHN_NCR_USERNAME }}
        aws-secret-access-key: ${{ secrets.NHN_NCR_PASSWORD }}
        aws-region: kr-standard  # NHN Cloudì˜ region

    - name: Create and upload file to NHN Cloud Object Storage
      run: |
        FILENAME="upload-$(date +'%Y%m%d-%H%M%S').txt"
        echo "This file was uploaded on $(date)" > $FILENAME
        aws s3 cp $FILENAME s3://obj-test/$FILENAME --endpoint-url https://kr1-api-object-storage.nhncloudservice.com/v1/AUTH_66ac27acad5e42f3b92842a8a4e217b2
        echo "File $FILENAME uploaded successfully"
